  body {
      background-color: #4c708c;
      font-family: 'Bricolage Grotesque', sans-serif;
    }

    nav {
      background-color: #173b5c;
      display: flex;
      justify-content: right;
      flex-wrap: wrap;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 900;
    }

    .nav-button {
      background-color: #173b5c;
      padding: 8px 20px;
      min-width: 90px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      border: none;
      margin:12px;
    }

    img {
      width: 100%;
      margin: 52px 0px 0px 0px;
      max-width: 100%;
      height: auto;
    }

    #info {
      max-width: 900px;
      width: 90%;
      margin: auto;
    }

    #about,#howto {
      scroll-margin-top: 80px;
      margin: 0;
      background-color: #173b5c;
      padding: 8px 20px;
      font-size: 25px;
      font-weight: bold;
      color: white;
      width: 180px;
      border-radius: 9px;
      text-align: center;
    }

    .description {
      color: white;
      font-size: 20px;
      padding: 10px 0 80px 0;
    }

    #readytoplay {
      background-color: #173b5c;
      width: 100%;
    }

    #readytoplay1 {
      width: 90%;
      margin: auto;
    }

    #play {
      scroll-margin-top: 30px;
      margin: 0;
      color: white;
      padding: 80px 20px 40px 20px;
      text-align: center;
    }

    #cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      text-align: center;
      flex-wrap: wrap;
      padding-bottom: 80px;
    }

    .levels {
      background-color: #0f2542;
      border: none;
      border-radius: 8px;
    }

    .levels:hover {
      box-shadow: 3px 1px 30px #e7f6e7;
    }

    #easy, #medium, #hard {
      width: 200px;
      padding: 0px 20px;
    }

    .text {
      font-size: 23px;
      font-weight: bold;
      color: white;
      padding-bottom: 20px;
    }

    .game {
      background-color: #0f2542;
      padding-bottom: 90px;
    }

    .game h1 {
      font-size: 35px;
      font-weight: bold;
      color: white;
      padding: 70px 40px 50px 40px;
      text-align: center;
    }

    #game-easy, #game-medium, #game-hard {
      scroll-margin-top: 50px;
    }

    .question {
      width: fit-content; 
      margin: auto;
      background-color: rgb(76, 112, 140, 0.5);
      padding: 50px;
      border-radius: 40px;
    }

    .question h3 {
      font-size: 25px;
      font-weight: bold;
      color: white;
      padding: 20px 60px 0px 50px;
      margin-bottom: 0px;
      font-family: 'Playpen Sans', cursive;
    }

    .question p, ul {
      font-size: 23px;
      color: white;
      padding: 10px 50px 0px 50px;
      margin-top: 0%;
      font-family: 'Playpen Sans', cursive;
    }

    table {
      margin: 30px auto;
      color: white;
      max-width: 900px;
      width: 100%;
    }

    th, td {
      border: none;
      border-radius: 5px;
      padding: 15px;
      text-align: center;
      width: 80px;
      height: 50px;
      font-size: 20px;
      background-color: #0f2549;
    }

    td {
      background-color: rgb(76, 112, 140, 0.6);
    }

    td:hover {
      background-color: rgba(255,255,255, 0.5);
    }

    .cell.possible {
      background-color: #e7f6e7;
      color: green;
    }

    .cell.not-possible {
      background-color: #fbeaea;
      color: red;
    }

    .A-C {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40%;
      text-align: center;
      flex-wrap: wrap;
      margin: 40px 0px;
    }

    .answer {
      padding: 10px 15px;
      background-color: #0f2542;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 8px;
      transition: background 0.4s, color 0.3s;
    }

    .answer:hover {
      border: 1px solid white;
    }

    .clear {
      padding: 10px 15px;
      background-color: #0f2542;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 8px;
      transition: background 0.4s, color 0.3s;
    }

    .clear:hover {
      border: 1px solid white;
    }

    #result {
      font-size: 20px;
      color: white;
    }

    @media (max-width: 768px) {
      .nav-button {
        padding: 6px 8px;
        font-size: 14px;
        min-width: auto;
        margin: 6px;
      }

      h1 {
        font-size: 24px;
      }

      .text, .description, .question h3, .question p {
        font-size: 16px;
      }

      .A-C {
        flex-direction: column;
        gap: 20px;
      }

      table th, table td {
        font-size: 12px;
        padding: 3px;
        width: auto;
      }

      #cards {
        flex-direction: column;
      }

      #play {
        padding: 40px 10px 20px 10px;
      }
    }
